
<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <link rel="dns-prefetch" href="//m.netinfo.bg" />
        <link rel="dns-prefetch" href="//a.abv.bg" />
        <link rel="dns-prefetch" href="//diff3.smartadserver.com" />
        <link rel="stylesheet" href="https://m3.netinfo.bg/sinoptik/css/main-4.7.min.css?v=1.2" />
        <link rel="stylesheet" href="https://m3.netinfo.bg/sinoptik/css/jquery-ui.css" />
        <!--[if IE]><link href="https://m3.netinfo.bg/sinoptik/css/ie_only_style-0.1.css" rel="stylesheet" type="text/css"><![endif]-->
        <!--[if IE 9]><link href="https://m3.netinfo.bg/sinoptik/css/ie9_only_style.css" rel="stylesheet" type="text/css" media="all" /><![endif]-->
                        <link rel="shortcut icon" type="image/x-icon" href="https://m.netinfo.bg/sinoptik/images/favicon.ico?v=1" />
        <script type="text/javascript" src="https://m5.netinfo.bg/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="https://m4.netinfo.bg/sinoptik/js/jquery-ui.js"></script>
        <script type="text/javascript" src="https://m4.netinfo.bg/sinoptik/js/plugins.min.js"></script>
        <script type="text/javascript" src="https://m4.netinfo.bg/sinoptik/js/interface-0.3.js"></script>
        <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <title>Времето в София, България - Sinoptik.bg</title>
        <meta name="description" content="Времето в момента в София - Слънчево, 24°. Подробна прогноза за времето през следващите 3 дни." />
        <meta property="fb:admins" content="692215833" />
        <meta property="fb:app_id" content="175064929208472" />
        <meta property="og:title" content="Времето в София, България - Sinoptik.bg" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://www.sinoptik.bg/sofia-bulgaria-100727011" />
        <meta property="og:image" content="https://m.netinfo.bg/sinoptik/icons/big/d000.png" />
        <meta property="og:site_name" content="Sinoptik.bg - Времето в България и по света" />
        <meta property="og:description" content="Времето в момента в София - Слънчево, 24°. Подробна прогноза за времето през следващите 3 дни." />

                        <link rel="alternate" href="https://www.sinoptik.bg/sofia-bulgaria-100727011" hreflang="bg-BG" />
                <link rel="alternate" href="https://weather.sinoptik.bg/sofia-bulgaria-100727011" hreflang="en-BG" />
                <link rel="canonical" href="https://www.sinoptik.bg/sofia-bulgaria-100727011">

                <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.sinoptik.bg/sofia-bulgaria-100727011">
                <link rel="alternate" media="handheld" href="https://m.sinoptik.bg/sofia-bulgaria-100727011">

                             
                    
                    
                    
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
             appId: "62a81730-cb16-426d-a1fa-2dd4bf74186e",
             autoRegister: true,
             welcomeNotification: {
                 "title" : "Sinoptik",
                 "message": "Благодарим ви за абонамента",
             },
             notifyButton: {
                 enable: true,
                 size: 'small',
                 prenotify: true,
                 showCredit: false,
                 text: {
                     'tip.state.unsubscribed': 'Получaвайте известия от Sinoptik',
                     'tip.state.subscribed': "Абонирани сте за известия",
                     'tip.state.blocked': "Блокирахте получаването на известия",
                     'message.prenotify': 'Натиснете тук за абонамент за известия',
                     'message.action.subscribed': "Благодарим за абонамента!",
                     'message.action.resubscribed': "Абонирани сте за известия",
                     'message.action.unsubscribed': "Изпращането на известия е прекратено",
                     'dialog.main.title': 'Настройки на известията',
                     'dialog.main.button.subscribe': 'Абонирайте се',
                     'dialog.main.button.unsubscribe': 'Прекратяване на абонамента',
                     'dialog.blocked.title': 'Отблокиране на известията',
                     'dialog.blocked.message': "Следвайте инструкциите, за да активирате известията:"
                 },
                 colors: {
                     'circle.background': 'rgb(42,42,42)',
                     'badge.background': 'rgb(42,42,42)',
               'dialog.button.background': 'rgb(42,42,42)',
               'dialog.button.background.hovering': 'rgb(248,248,248)',
                 },
             }
        }]);
    </script>
        <script type="text/javascript">
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }
      
            var segmentsnetinfo;
            var dmpcity;
            var sas_target_netinfo="";
      
      
      if (typeof(Storage) !== "undefined") {
        segmentsnetinfo = localStorage.getItem('NetinfoSegs');
        dmpcity = localStorage.getItem('NetinfoRegion');
      } else if(navigator.cookieEnabled) {
        segmentsnetinfo = getCookie('NetinfoSegs');
        dmpcity = getCookie('NetinfoRegion');
      }

      if(segmentsnetinfo != null) {
        segmentsnetinfo = segmentsnetinfo.replace(/\[|\]/g, '');
        segmentsnetinfo = segmentsnetinfo.split('.');
             
        for(x in segmentsnetinfo) {
          sas_target_netinfo+='netinfodmp='+segmentsnetinfo[x]+';';
        }
      } 
      if(dmpcity != null) {
        sas_target_netinfo+='dmpcity='+dmpcity+';';
      }
        </script>
        

<script src="//ced.sascdn.com/tag/363/smart.js" async></script>
<script>
    var sas = sas || {};
    sas.cmd = sas.cmd || [];
    sas.cmd.push(function() {
        sas.setup({ networkid: 363, domain: "//diff3.smartadserver.com", async: true });
    });
    sas.cmd.push(function() {
        sas.call("onecall", {
            siteId: 13793,
            pageId: 99466,
            formatId: '10469,38913,50204,6061,6062,34299',
            target: 'lid=100727011;country=BG;section=index;'+';'+sas_target_netinfo
        });
    });
</script>
        
        <style type="text/css">nav li a{  padding: 7px 25px 2px; padding: 8px 21px 2px\9; /*ie8 fix*/} </style>
    </head> 
    <body>
        <!-- Google Tag Manager -->
<script>
  dataLayer = [];
</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54V594"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-54V594');</script>
<!-- End Google Tag Manager --> 
         

                    <div id="fb-root"></div>
            <script>
                window.fbAsyncInit = function () {
                    FB.init({appId: '175064929208472', status: false, cookie: false, oauth: false, xfbml: true});
                };
                (function (d) {
                    var js, id = 'facebook-jssdk';
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement('script');
                    js.id = id;
                    js.async = true;
                    js.src = "//connect.facebook.net/bg_BG/all.js";
                    d.getElementsByTagName('head')[0].appendChild(js);
                }(document));
            </script>
                            <script>
                window.___gcfg = {lang: 'bg'};
                (function () {
                    var po = document.createElement('script');
                    po.type = 'text/javascript';
                    po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(po, s);
                })();
            </script>
                            
        <div class="wrapper">
            <!-- fasha lotr game sinoptik -->
                        <!-- fasha lotr game sinoptik -->
            <!-- HEADER BEGIN -->
            <header>
                <div class="headerTop">
                    <ul>
                        <li><a class="netinfoTopLogo" target="_blank" href="http://www.netinfocompany.bg/">Нетинфо</a></li>
                        <li><a class="vestiTopLogo" target="_blank" href="https://www.vesti.bg/">Vesti.bg</a><span class="sep">|</span></li>
                        <li><a class="sportniTopLogo" target="_blank" href="https://gong.bg/">Gong.bg</a><span class="sep">|</span></li>
                        <li><a class="darknewsTopLogo" target="_blank" href="https://dariknews.bg/">Dariknews.bg</a><span class="sep">|</span></li>
                        <li><a class="novaTopLogo" target="_blank" href="https://nova.bg/">Nova.bg</a><span class="sep">|</span></li>
                        <li><a class="ednaTopLogo" target="_blank" href="https://edna.bg/">Edna.bg</a></li>
                    </ul>
                    <div class="memberArea_tempScales">
                        <div class="tempScales">

                                                            <a href="https://weather.sinoptik.bg/sofia-bulgaria-100727011?location" class="langSelect" title="English version"><img src="https://m.netinfo.bg/sinoptik/images/flag_en.jpg" width="16" height="11" /> English</a>
                                                    </div>
                        <div class="tempScales">
                            <a href="javascript:;" onclick="SetCookie('units', 'C', 1500, '/', '.sinoptik.bg');
                                    window.location.reload();" class="tempDegree selected" title="Целзий">&deg;C</a>
                            <a href="javascript:;" onclick="SetCookie('units', 'F', 1500, '/', '.sinoptik.bg');
                                    window.location.reload();" class="tempFahrenheit" title="Фаренхайт">&deg;F</a>
                        </div>
                    </div>            
                </div>                
                <div class="headerMain">
                                            <a href="https://www.sinoptik.bg/" class="sinoptikLogo">Прогноза за времето в България и по света от Sinoptik.bg</a>
                    
                    <div class="searchTop">
                        <form method="get" action="https://www.sinoptik.bg/search">
                            <p>
                                <input  type="text" id="searchField" name="q" title="Търси град" value="" class="searchTopField blur" />
                                <button class="searchTopButton">Търси</button>
                            </p>
                            <p class="radioButtons">
                                <input type="radio" id="inSinoptik" name="in" value="sinoptik" checked="checked" />
                                <label for="inSinoptik">В Sinoptik.bg</label>
                                <input type="radio" id="inMap" name="in" value="map" />
                                <label for="inMap">В карта</label>
                            </p>
                        </form>
                    </div>
                    <div class="mobileSocialWidgets">
                        <a href="https://m.sinoptik.bg/?view=mobile" target="_blank" class="mobile" title="Мобилна версия">Мобилна версия</a>
                        <a href="http://www.facebook.com/Sinoptik.bg" target="_blank" class="fb" title="Стани фен">Стани фен</a>
                        <a href="https://www.sinoptik.bg/widgets" class="widgetsIco" title="Времето в твоя сайт">Времето в твоя сайт</a>
                    </div>
                </div>
            </header>
            <!---- HEADER END ----->

            <!---- NAVIGATION BEGIN ----->
            <nav>
                <ul>
                    <li class="first selected">
                        <a href="https://www.sinoptik.bg/">Начало</a>
                    </li>
                                            <li>
                            <a href="https://www.sinoptik.bg/locations/europe/bulgaria">България</a>
                        </li>
                        <li>
                            <a href="https://www.sinoptik.bg/locations/europe">Европа</a>
                        </li>
                        <li>
                            <a href="https://www.sinoptik.bg/locations">Свят</a>
                        </li>
                                                                <li>
                        <a href="https://www.sinoptik.bg/resorts">Курорти</a>
                        </li>
<!--                        <li>
                            <a href="https://www.sinoptik.bg/news">Новини</a>
                        </li>-->
                        <li>
                            <a href="https://www.sinoptik.bg/moon-phase"> Фаза на луната</a>
                        </li>
                        <li>
                            <a href="https://www.sinoptik.bg/map">Карта</a>
                        </li>
                        <li>
                            <a href="https://www.sinoptik.bg/photo">Фото</a>
                        </li>
                        <li>
                            <a href="https://www.sinoptik.bg/video">Видео</a>
                        </li>
                                    </ul>
            </nav>
            <!---- NAVIGATION END ----->

            <div class="nav_banner"><div id="sas_10469"></div>
            <script>
                sas.cmd.push(function() {
                    sas.render("10469");  // Format : 10469
                });
            </script></div><center>
    <script>
        //create fake element, that will be removed by AdBlocker
        var test = document.createElement('div');
        test.innerHTML = '&nbsp;';
        test.className = 'adsbox';
        document.body.appendChild(test);

        //if that element is remved - show Adwise
        if (test.offsetHeight === 0) {
            adwise_w = 728;
            adwise_h = 90;
            adwise_publisher_id = 2307;
            adwise_channel_id = 2;
            adwise_ads = 2;
            document.write('<script type="text/javascript" src="//i.adwise.bg/context/context-0.1.js"><\/script>');
        }
    </script>
</center>

            <!---- CONTAINER BEGIN ----->
            <div class="container">

                
                <!---- MY CITIES BEGIN ----->
                                <!---- MY CITIES END ----->

                
                <!---- MAIN BLOCK BEGIN ----->
                <div class="mainBlock">

                                            
<div class="currentCityBlock">
    <div class="currentCityInfo">
        <a href="https://www.sinoptik.bg/locations/europe">
            Европа</a>,
        <a href="https://www.sinoptik.bg/locations/europe/bulgaria">
            България</a>            <div class="currentCityHeading">
        <h1 class="currentCity">София</h1>
                        </div>
                    <span class="currentTime">Обновено в <time>13:30 ч. на 30 август</time>, от метеостанция "София"</span>
                
    </div>
    <div class="addCurrentDefaultCity">
            <a class="addCurrentCity" onclick="AddLocation(100727011,'България'); window.location.reload();" href="#">Добави в моите градове</a>
                <a class="defaultCity" onclick="SetDefault(100727011); window.location.reload();" href="#">Отваряй по подразбиране</a>
        </div>
</div>


<!---- WEATHER FORECAST BEGIN ----->
<div class="weatherForecast">
    <ul class="weatherForecastTabs wfTabs">
        <li class="wfCurrent selected">
            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011">
                В момента</a>
        </li>
        <li>
            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/hourly">
                24-часова</a>
        </li>
        <li>
            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/weekend">
                Уикенд</a>
        </li>
        <li>
            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/5-days">
                5-дневна</a>
        </li>
        <li class="wf10day">
            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/10-days">
                10-дневна</a>
        </li>
    </ul>

<div class="wfWrapper"> 
    <div id="wfCurrent" class="tabContent">

                    <div class="wfCurrentContent">
                <img src="https://m.netinfo.bg/sinoptik/icons/big/d000.png" class="wfCurrentImg" alt="Слънчево" width="200" height="200" />
                <span class="wfCurrentTemp">24&deg;C</span>
                <span class="wfCurrentFeelTemp">Усеща се: <span>24&deg;</span></span>
                <strong>Слънчево</strong>
                <div class="wfCurrentBottom">
                    <div class="wfCurrentWindWrapper">
                        <span class="wfCurrentWindHeading">Вятър:</span>
                        <span class="wfCurrentWind windImg" title=", лек полъх">
                            2.1 m/s<br /><span>лек полъх</span>
                        </span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Вероятност за валежи:</span>
                        <span class="wfCurrentValue">&nbsp;</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Количество валежи:</span>
                        <span class="wfCurrentValue">&nbsp;</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Вероятност за буря:</span>
                        <span class="wfCurrentValue">&nbsp;</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Облачност:</span>
                        <span class="wfCurrentValue"></span>
                    </div>
                    <div class="wfCurrentWrapper wfCurrentSepWrapper">
                        <span class="wfCurrentHeading">UV индекс:</span>
                        <span class="wfCurrentValue">&nbsp;</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Атмосферно налягане:</span>
                        <span class="wfCurrentValue">1020 hPa</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Влажност:</span>
                        <span class="wfCurrentValue">39%</span>
                    </div>
                    <div class="wfCurrentWrapper wfCurrentSepWrapper">
                        <span class="wfCurrentHeading">Видимост:</span>
                        <span class="wfCurrentValue">10.0 km</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Време до залез:</span>
                        <span class="wfCurrentValue">6 ч. и 9 мин.</span>
                    </div>
                    <div class="wfCurrentWrapper">
                        <span class="wfCurrentHeading">Продължителност на деня:</span>
                        <span class="wfCurrentValue">13 ч. и 16 мин.</span>
                    </div>
                </div>
            </div>
        
                                                <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/hourly" class="wfTodayContent wfNonCurrentContent" title="Виж подробна прогноза">
                    <span class="wfNonCurrentDay">Днес</span>
                    <span class="wfNonCurrentDate">30.08.2017</span>
                    <img src="https://m4.netinfo.bg/sinoptik/icons/middle/d100.png" width="88" height="85" class="wfNonCurrentImg" alt="Предимно слънчево" title="Предимно слънчево" />
                    <span class="wfNonCurrentTemp" title="Минимална температура">
                        14&deg; | 
                        <span title="Максимална температура">23&deg;</span>
                    </span>
                    <strong class="wfNonCurrentCond">Предимно слънчево</strong>
                    <span class="wfNonCurrentBottom">
                        <span class="wfNonCurrentWind windImgE" title="изток, лек полъх">
                            2.9 m/s<br /><span>лек полъх</span>
                        </span>
                        <span class="wfNonCurrentValue">5%</span>
                        <span class="wfNonCurrentValue">0.1 mm</span>
                        <span class="wfNonCurrentValue">0%</span>
                        <span class="wfNonCurrentValue">37%</span>
                        <span class="wfNonCurrentValue wfNonCurrentSepValue">7 <span>- висок</span></span>
                        <span class="wfNonCurrentValue">&nbsp;</span>
                        <span class="wfNonCurrentValue">33 ~ 93%</span>
                        <span class="wfNonCurrentValue wfNonCurrentSepValue">&nbsp;</span>
                        <span class="wfNonCurrentValue"><span>изгрев в</span> 06:48 ч.</span>
                        <span class="wfNonCurrentValue"><span>залез в</span> 20:05 ч.</span>
                    </span>
                </a>
                            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/5-days/2" class="wfTomorrowContent wfNonCurrentContent" title="Виж подробна прогноза">
                    <span class="wfNonCurrentDay">Утре</span>
                    <span class="wfNonCurrentDate">31.08.2017</span>
                    <img src="https://m4.netinfo.bg/sinoptik/icons/middle/d000.png" width="88" height="85" class="wfNonCurrentImg" alt="Слънчево" title="Слънчево" />
                    <span class="wfNonCurrentTemp" title="Минимална температура">
                        11&deg; | 
                        <span title="Максимална температура">26&deg;</span>
                    </span>
                    <strong class="wfNonCurrentCond">Слънчево</strong>
                    <span class="wfNonCurrentBottom">
                        <span class="wfNonCurrentWind windImgE" title="изток, тих">
                            1.5 m/s<br /><span>тих</span>
                        </span>
                        <span class="wfNonCurrentValue">2%</span>
                        <span class="wfNonCurrentValue">0.0 mm</span>
                        <span class="wfNonCurrentValue">0%</span>
                        <span class="wfNonCurrentValue">0%</span>
                        <span class="wfNonCurrentValue wfNonCurrentSepValue">7 <span>- висок</span></span>
                        <span class="wfNonCurrentValue">&nbsp;</span>
                        <span class="wfNonCurrentValue">26 ~ 100%</span>
                        <span class="wfNonCurrentValue wfNonCurrentSepValue">&nbsp;</span>
                        <span class="wfNonCurrentValue"><span>изгрев в</span> 06:49 ч.</span>
                        <span class="wfNonCurrentValue"><span>залез в</span> 20:03 ч.</span>
                    </span>
                </a>
                            <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/5-days/3" class="wfDayAfterTomorrowContent wfNonCurrentContent" title="Виж подробна прогноза">
                    <span class="wfNonCurrentDay">Петък</span>
                    <span class="wfNonCurrentDate">01.09.2017</span>
                    <img src="https://m4.netinfo.bg/sinoptik/icons/middle/d000.png" width="88" height="85" class="wfNonCurrentImg" alt="Слънчево" title="Слънчево" />
                    <span class="wfNonCurrentTemp" title="Минимална температура">
                        13&deg; | 
                        <span title="Максимална температура">31&deg;</span>
                    </span>
                    <strong class="wfNonCurrentCond">Слънчево</strong>
                    <span class="wfNonCurrentBottom">
                        <span class="wfNonCurrentWind windImgN" title="север, лек полъх">
                            2.6 m/s<br /><span>лек полъх</span>
                        </span>
                        <span class="wfNonCurrentValue">3%</span>
                        <span class="wfNonCurrentValue">0.0 mm</span>
                        <span class="wfNonCurrentValue">0%</span>
                        <span class="wfNonCurrentValue">2%</span>
                        <span class="wfNonCurrentValue wfNonCurrentSepValue">7 <span>- висок</span></span>
                        <span class="wfNonCurrentValue">&nbsp;</span>
                        <span class="wfNonCurrentValue">27 ~ 77%</span>
                        <span class="wfNonCurrentValue wfNonCurrentSepValue">&nbsp;</span>
                        <span class="wfNonCurrentValue"><span>изгрев в</span> 06:50 ч.</span>
                        <span class="wfNonCurrentValue"><span>залез в</span> 20:02 ч.</span>
                    </span>
                </a>
                    
        <ul class="wfBottomTabs wfTabs">
            <li>
                <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/hourly">24-часова</a>
            </li>
            <li class="wf5dayBottom">
                <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/5-days">5-дневна</a>
            </li>
            <li class="wf10dayBottom">
                <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011/10-days">10-дневна</a>
            </li>
        </ul>

    </div>
</div>

<a href="#" class="wfHideDetails" rel="Покажи детайли">
    Скрий детайли</a>
</div>
<div id="grabo_b407"></div><!---- WEATHER FORECAST END ----->

<!--<script type="text/javascript">
sas_pageid='13793/99466'; // Page : sinoptik.bg/homepage
sas_formatid=12998;   // Format : LB_654x80 654x80
sas_target='';      // Targeting
SmartAdServer(sas_pageid,sas_formatid,sas_target);
</script>
<noscript>
<a href="http://diff3.smartadserver.com/call/pubjumpi/13793/99466/12998/S/[timestamp]/?" target="_blank">
<img src="http://diff3.smartadserver.com/call/pubi/13793/99466/12998/S/[timestamp]/?" border="0" alt="" /></a>
</noscript>-->


    
    
        <!-- NEWS BLOCK BEGIN -->
        <iframe style="width:640px; height: 563px;" src="https://bimg.abv.bg/banners/inhouse/sinoptik/news_blok/block_news.html?bimg" scrolling="no" frameborder="no" ></iframe>
        <!-- NEWS BLOCK END -->
<div style="margin-bottom: 20px;">
    <div id="sas_38913"></div>
<script>
    sas.cmd.push(function() {
        sas.render("38913");  // Format : Broshura 0x0
    });
</script></div>

    <!---- TEMPERATURE PRECIPITATION CLOUDINESS FORECAST BEGIN ----->
    <script type="text/javascript">
var Bhs = {
"wfPrecipitation" : [
{
    "id": 1,
    "hour": "15:00",
        "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-30_1500.jpg"
},
{
    "id": 2,
    "hour": "18:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-30_1800.jpg"
},
{
    "id": 3,
    "hour": "21:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-30_2100.jpg"
},
{
    "id": 4,
    "hour": "00:00",
                            "day": "четвъртък",
                "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_0000.jpg"
},
{
    "id": 5,
    "hour": "03:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_0300.jpg"
},
{
    "id": 6,
    "hour": "06:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_0600.jpg"
},
{
    "id": 7,
    "hour": "09:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_0900.jpg"
},
{
    "id": 8,
    "hour": "12:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_1200.jpg"
},
{
    "id": 9,
    "hour": "15:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_1500.jpg"
},
{
    "id": 10,
    "hour": "18:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_1800.jpg"
},
{
    "id": 11,
    "hour": "21:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-08-31_2100.jpg"
},
{
    "id": 12,
    "hour": "00:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/rain/2017-09-01_0000.jpg"
}],
"wfTemperature" : [
{
    "id": 1,
    "hour": "15:00",
        "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-30_1500.jpg"
},
{
    "id": 2,
    "hour": "18:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-30_1800.jpg"
},
{
    "id": 3,
    "hour": "21:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-30_2100.jpg"
},
{
    "id": 4,
    "hour": "00:00",
                            "day": "четвъртък",
                "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_0000.jpg"
},
{
    "id": 5,
    "hour": "03:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_0300.jpg"
},
{
    "id": 6,
    "hour": "06:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_0600.jpg"
},
{
    "id": 7,
    "hour": "09:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_0900.jpg"
},
{
    "id": 8,
    "hour": "12:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_1200.jpg"
},
{
    "id": 9,
    "hour": "15:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_1500.jpg"
},
{
    "id": 10,
    "hour": "18:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_1800.jpg"
},
{
    "id": 11,
    "hour": "21:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-08-31_2100.jpg"
},
{
    "id": 12,
    "hour": "00:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/temp/2017-09-01_0000.jpg"
}],
"wfCloudiness" : [
{
    "id": 1,
    "hour": "15:00",
        "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-30_1500.jpg"
},
{
    "id": 2,
    "hour": "18:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-30_1800.jpg"
},
{
    "id": 3,
    "hour": "21:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-30_2100.jpg"
},
{
    "id": 4,
    "hour": "00:00",
                            "day": "четвъртък",
                "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_0000.jpg"
},
{
    "id": 5,
    "hour": "03:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_0300.jpg"
},
{
    "id": 6,
    "hour": "06:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_0600.jpg"
},
{
    "id": 7,
    "hour": "09:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_0900.jpg"
},
{
    "id": 8,
    "hour": "12:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_1200.jpg"
},
{
    "id": 9,
    "hour": "15:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_1500.jpg"
},
{
    "id": 10,
    "hour": "18:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_1800.jpg"
},
{
    "id": 11,
    "hour": "21:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-08-31_2100.jpg"
},
{
    "id": 12,
    "hour": "00:00",
                    "img": "https://m.netinfo.bg/sinoptik/images/maps/cloud/2017-09-01_0000.jpg"
}]};
$(document).ready(function(){
    $('.tpcTabs .wfPrecipitation a').click();
});
</script>

<div class="tpcBlock">
    <ul class="tpcTabs">
        <li class="wfPrecipitation"><h2><a href="#wfPrecipitation">Валежи</a></h2></li>
        <li class="wfTemperature"><h2><a href="#wfTemperature">Температура</a></h2></li>
        <li class="wfCloudiness"><h2><a href="#wfCloudiness">Облачност</a></h2></li>
    </ul>
    <div id="wfPrecipitation" class="tabContent">
        <div class="wfTpc">
            <div class="wfTpcImg">
                <span class="wfTpcImgPointer" style="top: 121px; left: 217px;">
                    София                </span>
                <img src="https://m.netinfo.bg/sinoptik/images/loader.gif" class="loaderImg" width="32" height="32" />
            </div>
        </div>
        <div class="wfTpcScalesControls wfPScales">
            <div class="wfTpcControls">
                <a href="#" class="wfTpcPrev"></a>
                <a href="#" class="wfTpcPlay"></a>
                <a href="#" class="wfTpcNext"></a>
            </div>
        </div>
    </div>
    <div id="wfTemperature" class="tabContent">
        <div class="wfTpc">
            <div class="wfTpcImg">
                <span class="wfTpcImgPointer" style="top: 121px; left: 217px;">
                    София                </span>
                <img src="https://m.netinfo.bg/sinoptik/images/loader.gif" class="loaderImg" width="32" height="32" />
            </div>
        </div>
        <div class="wfTpcScalesControls wfTScales">
            <div class="wfTpcControls">
                <a href="#" class="wfTpcPrev"></a>
                <a href="#" class="wfTpcPlay"></a>
                <a href="#" class="wfTpcNext"></a>
            </div>
        </div>
    </div>
    <div id="wfCloudiness" class="tabContent">
        <div class="wfTpc">
            <div class="wfTpcImg">
                <span class="wfTpcImgPointer" style="top: 121px; left: 217px;">
                    София                </span>
                <img src="https://m.netinfo.bg/sinoptik/images/loader.gif" class="loaderImg" width="32" height="32" />
            </div>
        </div>
        <div class="wfTpcScalesControls wfCScales">
            <div class="wfTpcControls">
                <a href="#" class="wfTpcPrev"></a>
                <a href="#" class="wfTpcPlay"></a>
                <a href="#" class="wfTpcNext"></a>
            </div>
        </div>
    </div>
</div>    <!---- TEMPERATURE PRECIPITATION CLOUDINESS FORECAST END ----->
                                                                <div id="blockCams">
    <div class="CamsHeader">
        <p>Камери</p>
  <a href="http://nova.bg/camera" target="_blank">nova.bg</a>
    </div>
    <div class="sliderCams">
        <ul class="listCams scroll-content">
                        <li>
                <a href="http://nova.bg/camera/view/4/" title="Народно събрание, София" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/4.jpg" alt="Народно събрание, София" width="178">
                    <p class="placeCams">Народно събрание,</p>
                    <p class="cityCams">София</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/1/" title="бул. &quot;България&quot;, София" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/1.jpg" alt="бул. &quot;България&quot;, София" width="178">
                    <p class="placeCams">бул. &quot;България&quot;,</p>
                    <p class="cityCams">София</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/7/" title="Метростанция &bdquo;Сердика&rdquo;, София" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/12.jpg" alt="Метростанция &bdquo;Сердика&rdquo;, София" width="178">
                    <p class="placeCams">Метростанция &bdquo;Сердика&rdquo;,</p>
                    <p class="cityCams">София</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/5/" title="площад &bdquo;Васил Левски&rdquo;, София" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/7.jpg" alt="площад &bdquo;Васил Левски&rdquo;, София" width="178">
                    <p class="placeCams">площад &bdquo;Васил Левски&rdquo;,</p>
                    <p class="cityCams">София</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/27/" title="писта &quot;Снежанка&quot;, Пампорово" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/21.jpg" alt="писта &quot;Снежанка&quot;, Пампорово" width="178">
                    <p class="placeCams">писта &quot;Снежанка&quot;,</p>
                    <p class="cityCams">Пампорово</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/26/" title="&quot;Студенец&quot;, Пампорово" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/20.jpg" alt="&quot;Студенец&quot;, Пампорово" width="178">
                    <p class="placeCams">&quot;Студенец&quot;,</p>
                    <p class="cityCams">Пампорово</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/10/" title="бул. &bdquo;Христо Ботев&rdquo;, Варна" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/11.jpg" alt="бул. &bdquo;Христо Ботев&rdquo;, Варна" width="178">
                    <p class="placeCams">бул. &bdquo;Христо Ботев&rdquo;,</p>
                    <p class="cityCams">Варна</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/11/" title="бул. &bdquo;Стефан Стамболов&rdquo;, Бургас" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/13.jpg" alt="бул. &bdquo;Стефан Стамболов&rdquo;, Бургас" width="178">
                    <p class="placeCams">бул. &bdquo;Стефан Стамболов&rdquo;,</p>
                    <p class="cityCams">Бургас</p>
                </a>
            </li>
                        <li>
                <a href="http://nova.bg/camera/view/24/" title="Център Берковица, Берковица" target="_blank">
                    <img src="https://m.netinfo.bg/sinoptik/images/cameras/thumbs/18.jpg" alt="Център Берковица, Берковица" width="178">
                    <p class="placeCams">Център Берковица,</p>
                    <p class="cityCams">Берковица</p>
                </a>
            </li>
              </ul>
        <div class="scroll-bar-wrap ui-widget-content">
            <div class="scroll-bar"></div>
            <div class="subScroll-bar"></div>
        </div>
    </div>
</div>
<script src="https://m4.netinfo.bg/sinoptik/js/cameras-0.3.js"></script>                     
                    
                       

                                            <!-- PHOTO AND VIDEO OF THE DAY BEGIN -->
                            <div class="wfNewsBlock">
        <h2>
            <a href="https://www.sinoptik.bg/photo/snimka-na-denia-3">
                Снимка на деня</a>
        </h2>
        <div class="photoContent">
            <div class="photo-wrapper" style="text-align:center;height:auto;margin:0 auto">
                <a class="photoZoom" href="https://www.sinoptik.bg/photo/snimka-na-denia-3?view=full" style="width:616px;height:auto">
                    <img class="loaderPgImg" src="https://m.netinfo.bg/media/images/32683/32683154/r-616-401-shtastie-figura-zhena.jpg" alt="Снимка на деня" />
                </a>
            </div>
            <div class="photoInfo">
                                    <p>Щастие</p>
                                            </div>
            <div class="shareVidSource clearfix">
                <div class="gplus1"><div id="plusonediv"><div class="g-plusone" data-size="small" data-href="https://www.sinoptik.bg/photo/snimka-na-denia-3?p=32683154"></div></div></div>
                <div id="fcbkb"><div class="fb-like" data-send="false" data-href="https://www.sinoptik.bg/photo/snimka-na-denia-3?p=32683154" data-layout="button_count" data-width="130" data-show-faces="false" data-action="like" style="margin-left: 10px;"></div></div>
                <div id="pinit-button"><a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.sinoptik.bg%2Fphoto%2Fsnimka-na-denia-3%3Fp%3D32683154&media=https%3A%2F%2Fm.netinfo.bg%2Fmedia%2Fimages%2F32683%2F32683154%2Fr-1024-768-shtastie-figura-zhena.jpg&description=%D0%A9%D0%B0%D1%81%D1%82%D0%B8%D0%B5" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
                <a class="more-photos" href="https://www.sinoptik.bg/photo/snimka-na-denia-3">
                    Виж всички
                </a>
            </div>
        </div>
    </div>

<div class="pvDay">
     
        <div class="pvDBlock photoDay">
            <h2>
                <a href="https://www.sinoptik.bg/photo">
                    Фото</a>
            </h2>
            
                <div class="pvDContent">
                    <a href="https://www.sinoptik.bg/photo/uraganyt-matiu-udari-kuba-i-haiti-milioni-v-sasht-se-gotviat-za-evakuaciia-255" class="imgLink">
                        <img src="https://m4.netinfo.bg/media/images/26904/26904162/308-217-kuba-uragan-matiu.jpg" alt="Ураганът Матю удари Куба и Хаити, милиони в САЩ се готвят за евакуация" width="308" height="217" /></a>
                    <h3>
                        <a href="https://www.sinoptik.bg/photo/uraganyt-matiu-udari-kuba-i-haiti-milioni-v-sasht-se-gotviat-za-evakuaciia-255">
                           Ураганът Матю удари Куба и Хаити, милиони в САЩ се готвят за евакуация</a>   
                    </h3>
                          </div>
        </div>
    
            <div class="pvDBlock videoDay">
            <h2>
                <a href="https://www.sinoptik.bg/video">
                    Видео</a>
            </h2>
            <div class="pvDContent">  
                <a id="homePlayer" href="https://www.sinoptik.bg/video/prognoza-za-vremeto-30.08.2017-obedna-emisiia-33154?play=1" class="imgLink imgVideoLink">
                    <img src="https://m3.netinfo.bg/media/images/32683/32683678/308-217-prognoza-za-vremeto-30-08-2017-obedna-emisiia.jpg" alt="Прогноза за времето (30.08.2017 - обедна емисия)" width="308" height="217" />
                    <img src="https://m.netinfo.bg/sinoptik/images/sinoptikVideoHoverMid.png" width="69" height="71" class="imgVideoLinkHover" alt="" />
                </a>
                                <h3>
                    <a href="https://www.sinoptik.bg/video/prognoza-za-vremeto-30.08.2017-obedna-emisiia-33154">
                        Прогноза за времето (30.08.2017 - обедна емисия)</a>
                </h3>
                            </div>
        </div>
    </div>
                        <!-- PHOTO AND VIDEO OF THE DAY END -->
                                            

                </div>
                <!---- MAIN BLOCK END ----->

                                    <!---- RIGHT BLOCK BEGIN ----->
                    <div class="rightBlock">

                        <script type="text/javascript">
                            function showBanner(id, height) {
                                $('#banner-' + id).show();
                            }
                        </script>

                                                    <!---- RIGHT BANNER BEGIN ----->
                            <div class="rightBanner">
                                <div id="sas_6062"></div>
            <script>
                sas.cmd.push(function() {
                    sas.render("6062");  // Format : 6062
                });
            </script><center>
    <script>
        //create fake element, that will be removed by AdBlocker
        var test = document.createElement('div');
        test.innerHTML = '&nbsp;';
        test.className = 'adsbox';
        document.body.appendChild(test);

        //if that element is remved - show Adwise
        if (test.offsetHeight === 0) {
            adwise_w = 300;
            adwise_h = 250;
            adwise_publisher_id = 2307;
            adwise_channel_id = 1;
            adwise_ads = 2;
            document.write('<script type="text/javascript" src="//i.adwise.bg/context/context-0.1.js"><\/script>');
        }
    </script>
</center>
                            </div>
                            <!---- RIGHT BANNER END -----> 
                        
                                                    
                                                    <!-- LAST VISITED BEGIN -->
                            <div class="resorts">
    <h2>Последно посетени</h2>
    <div class="resortsContent">
                                    <a href="https://www.sinoptik.bg/sofia-bulgaria-100727011" class="resortsRow" title="Виж прогноза за времето в София">
                    <span class="resortName">София</span>
                    <span class="resortTemp">14&deg; | <span>23&deg;</span></span>
                    <img src="https://m5.netinfo.bg/sinoptik/icons/tiny/d100.png" alt="Предимно слънчево" width="35" height="33" class="resortCondImg" title="Предимно слънчево" />
                </a>
                        </div>
</div>                            <!-- LAST VISITED END -->
                                                    
                                                    <!-- RESORTS BEGIN -->
                            <div class="vestiNews">
    <h2><a href="https://www.sinoptik.bg/resorts">Курорти</a></h2>
    <div class="resortsContent">
                                    <a href="https://www.sinoptik.bg/varna-bulgaria-100726050" class="resortsRow" title="Виж прогноза за времето в Варна">
                    <span class="resortName">Варна</span>
                    <span class="resortTemp">15&deg; | <span>23&deg;</span></span>
                    <img src="https://m5.netinfo.bg/sinoptik/icons/tiny/d000.png" alt="Слънчево" width="35" height="33" class="resortCondImg" title="Слънчево" />
                </a>
                            <a href="https://www.sinoptik.bg/burgas-bulgaria-100732770" class="resortsRow" title="Виж прогноза за времето в Бургас">
                    <span class="resortName">Бургас</span>
                    <span class="resortTemp">16&deg; | <span>23&deg;</span></span>
                    <img src="https://m5.netinfo.bg/sinoptik/icons/tiny/d100.png" alt="Предимно слънчево" width="35" height="33" class="resortCondImg" title="Предимно слънчево" />
                </a>
                            <a href="https://www.sinoptik.bg/akhtopol-bulgaria-100733722" class="resortsRow" title="Виж прогноза за времето в Ахтопол">
                    <span class="resortName">Ахтопол</span>
                    <span class="resortTemp">18&deg; | <span>22&deg;</span></span>
                    <img src="https://m5.netinfo.bg/sinoptik/icons/tiny/d210.png" alt="Променлива облачност и слаби превалявания от дъжд" width="35" height="33" class="resortCondImg" title="Променлива облачност и слаби превалявания от дъжд" />
                </a>
                            <a href="https://www.sinoptik.bg/golden-sands-bulgaria-106355004" class="resortsRow" title="Виж прогноза за времето в Златни пясъци">
                    <span class="resortName">Златни пясъци</span>
                    <span class="resortTemp">15&deg; | <span>23&deg;</span></span>
                    <img src="https://m5.netinfo.bg/sinoptik/icons/tiny/d000.png" alt="Слънчево" width="35" height="33" class="resortCondImg" title="Слънчево" />
                </a>
                            <a href="https://www.sinoptik.bg/sunny-beach-bulgaria-106355005" class="resortsRow" title="Виж прогноза за времето в Слънчев бряг">
                    <span class="resortName">Слънчев бряг</span>
                    <span class="resortTemp">13&deg; | <span>25&deg;</span></span>
                    <img src="https://m5.netinfo.bg/sinoptik/icons/tiny/d000.png" alt="Слънчево" width="35" height="33" class="resortCondImg" title="Слънчево" />
                </a>
                        </div>
</div>                             <!-- RESORTS END -->
                                                <!--banner pod posledno poseteni-->
                                                    <!---- RIGHT BOTTOM BANNER BEGIN ----->
                            <div class="rightBottomBanner" style="margin-bottom: 20px;">
                                                                    <script type="text/javascript"><!--
                                    google_ad_client = "ca-pub-9699434551737642";
                                    /* Sinoptik Right column 300x250 */
                                    google_ad_slot = "3737039695";
                                    google_ad_width = 300;
                                    google_ad_height = 600;
                                    //-->
                                    </script>
                                    <script type="text/javascript"
                                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                                    </script>
                                                            </div>
                            <!---- RIGHT BOTTOM BANNER END ----->
                                                 <!--krai na banera pod posledno poseteni-->

                                                                                                                                                
                        
                                                                            <!-- VESTI NEWS BEGIN -->
                            <div class="vestiNews">
    <h2><a href="https://dariknews.bg" target="blank">Новини от Dariknews.bg</a></h2>
    <div class="vestiContent">
                                    <div class="vestiRow">
                    <a href="//dariknews.bg/novini/bylgariia/koga-shte-sa-vakanciite-na-uchenicite-prez-novata-uchebna-godina-2045184" target="blank" class="imgLink vestiLink" rel="1">
                                                    <img src="https://m.netinfo.bg/media/images/31069/31069729/50-50-klasna-staia.jpg" width="50" height="50" />
                                            </a>
                    <h3>
                        <a href="//dariknews.bg/novini/bylgariia/koga-shte-sa-vakanciite-na-uchenicite-prez-novata-uchebna-godina-2045184" target="blank" class="vestiLink" rel="1">Кога ще са ваканциите на учениците през новата учебна година?</a>
                    </h3>
                    <div class="commSeen">
                        <span>преди 2 часа</span>
                        <span class="sep">|</span>
                        <a href="//dariknews.bg/novini/bylgariia/koga-shte-sa-vakanciite-na-uchenicite-prez-novata-uchebna-godina-2045184" target="blank" class="seenImg vestiLink" rel="1"></a>
                        <span class="commSeen">3583</span>
                    </div>
                </div> 
                            <div class="vestiRow">
                    <a href="//dariknews.bg/novini/bylgariia/ideia-zabrana-za-pushene-na-nargile-ot-uchenici-2045228" target="blank" class="imgLink vestiLink" rel="2">
                                                    <img src="https://m.netinfo.bg/media/images/32678/32678685/50-50-nargile.jpg" width="50" height="50" />
                                            </a>
                    <h3>
                        <a href="//dariknews.bg/novini/bylgariia/ideia-zabrana-za-pushene-na-nargile-ot-uchenici-2045228" target="blank" class="vestiLink" rel="2">Идея: Забрана за пушене на наргиле от ученици</a>
                    </h3>
                    <div class="commSeen">
                        <span>преди 24 минути</span>
                        <span class="sep">|</span>
                        <a href="//dariknews.bg/novini/bylgariia/ideia-zabrana-za-pushene-na-nargile-ot-uchenici-2045228" target="blank" class="seenImg vestiLink" rel="2"></a>
                        <span class="commSeen">57</span>
                    </div>
                </div> 
                            <div class="vestiRow">
                    <a href="//dariknews.bg/novini/bylgariia/apartament-ostana-bez-sanirane-zaradi-strah-ot-stiropor-snimki-2045154" target="blank" class="imgLink vestiLink" rel="3">
                                                    <img src="https://m.netinfo.bg/media/images/32683/32683521/50-50-blok-sanirane-lukovit.jpg" width="50" height="50" />
                                            </a>
                    <h3>
                        <a href="//dariknews.bg/novini/bylgariia/apartament-ostana-bez-sanirane-zaradi-strah-ot-stiropor-snimki-2045154" target="blank" class="vestiLink" rel="3">Апартамент остана без саниране заради страх от … стиропор (СНИМКИ)</a>
                    </h3>
                    <div class="commSeen">
                        <span>преди 3 часа</span>
                        <span class="sep">|</span>
                        <a href="//dariknews.bg/novini/bylgariia/apartament-ostana-bez-sanirane-zaradi-strah-ot-stiropor-snimki-2045154" target="blank" class="seenImg vestiLink" rel="3"></a>
                        <span class="commSeen">2939</span>
                    </div>
                </div> 
                            <div class="vestiSeeMore">
            <span>виж още:</span>
            <a href="https://dariknews.bg" target="blank">новини</a>
            <span class="sep">|</span>
            <a href="https://gong.bg" target="blank">спорт</a>
        </div>
    </div>
</div>                            <!-- VESTI NEWS END -->
                         

                        <!--THE SOMERSBY CAMPAIGN FROM 15.06.2015 TO 14.07.2015 -->
                        <!--TODO: CHANGE 'MAY' TO 'JUNE'  ON ROW 584-->
                                                        
                                                    <div id="sas_50204"></div>
<script>
    sas.cmd.push(function() {
        sas.render("50204");  // Format : Grabo 300x282
    });
</script>                        
                        
                         

                                                    <!-- CARMARKET BEGIN -->
                            <iframe src="https://bimg.abv.bg/sravni/banners-with-tabs/300x250_sinoptik/" style="width: 300px; height: 250px"></iframe>                            <!-- CARMARKET END -->
                         

                                                    <!-- PROMO WIDGET -->
                            <a href="https://www.sinoptik.bg/widgets" class="promoWidgetLink" style="display:none">
                                <img src="https://m.netinfo.bg/sinoptik/images/widgetsPromo.png" width="300" height="203" alt="Прогноза за времето на Вашия сайт" />
                            </a>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    if (($('.mainBlock').height() - $('.rightBlock').height()) > 320) {
                                        $('.promoWidgetLink').show(300);
                                    }
                                    ;
                                });
                            </script>
                            <!-- PROMO WIDGET -->
                            <div style="margin-top: 20px">
                                <a href="https://www.sinoptik.bg/moon-phase">
                                    <img src="https://m.netinfo.bg/sinoptik/images/moon-phases.jpg" alt="Фаза на луната и лунен календар">
                                </a> 
                            </div>  
                                                
                        
                    </div>
                    <!---- RIGHT BLOCK END ----->
                                                    <!---- BOTTOM BANNER BEGIN ----->
                    <div class="bottomBanner">
                                                    <div id="banner">
                                <div id="sas_6061"></div>
            <script>
                sas.cmd.push(function() {
                    sas.render("6061");  // Format : 6061
                });
            </script>                            </div>
                                            </div>
                    <!---- BOTTOM BANNER END ----->                
                            </div>
            <!---- CONTAINER END ----->

            <!---- FOOTER BEGIN ----->
            <footer>
    <div class="niSitesBlock">
        <div class="niSites">
            <span class="niSiteTitle">Да организирам</span>
            <div>
                <a href="http://www.abv.bg/" target="_blank">АБВ Поща</a><br />
                <a href="http://dox.bg/" target="_blank">DOX</a><br />
                <a href="http://apps.abv.bg/" target="_blank">АБВ на твой домейн</a>
            </div>
        </div>
        <div class="niSites">
            <span class="niSiteTitle">Да намирам</span>
            <div>
                <a href="http://www.gbg.bg/" target="_blank">Гювеч</a><span class="sep">|</span>
                <a href="http://broshura.bg" target="_blank">Брошури</a><br />
                <a href="http://www.sravni.bg/" target="_blank">Сравни</a><br />
                <a href="http://www.carmarket.bg/" target="_blank">Автомобили</a>
            </div>
        </div>
        <div class="niSites">
            <span class="niSiteTitle">Да се информирам</span>
            <div>
                <a href="http://www.vesti.bg/" target="_blank">Новини</a><span class="sep">|</span>
                <a href="http://gong.bg/" target="_blank">Спорт</a><br />
                <a href="http://www.pariteni.bg/" target="_blank">Пари</a><span class="sep">|</span>
                <a href="http://sinoptik.bg/" target="_blank">Времето</a><br />
                <a href="http://www.edna.bg/" target="_blank">За жените</a>
            </div>
        </div>
        <div class="niSites">
            <span class="niSiteTitle">Да се забавлявам</span>
            <div>
                <a href="http://vbox7.com/" target="_blank">Видео</a><span class="sep">|</span>
                <a href="http://www.vgames.bg/" target="_blank">Игри</a><br />
                <a href="http://www.vmusic.bg/" target="_blank">Музика</a><br />
                <a href="http://www.vcards.bg/" target="_blank">Картички</a>
            </div>
        </div>
    </div>
    <div class="niLinks">
        <ul class="clearfix">
            <li><a href="http://www.netinfocompany.bg/media-kit/sinoptikbg-78" target="_blank">За реклама</a><span class="sep">|</span></li>
            <li><a href="http://www.adwise.bg/promo_vouchers.php?utm_source=vesti&utm_medium=footer&utm_campaign=promo" target="_blank">Реклама на клик</a></li>
        </ul>
        <ul class="clearfix">
            <li><a href="http://www.netinfocompany.bg/about-company" target="_blank">За нас</a><span class="sep">|</span></li>
            <li><a href="http://www.netinfocompany.bg/portfolio" target="_blank">Портфолио</a><span class="sep">|</span></li>
            <li><a href="http://www.vesti.bg/feedback/" target="_blank">Пишете ни</a><span class="sep">|</span></li> 
            <li><a href="http://passport.netinfo.bg/terms/" target="_blank">Общи условия</a><span class="sep">|</span></li>
            <li><a href="http://foreca.com/" target="_blank" rel="nofollow">Времето от <span><img src="https://m.netinfo.bg/sinoptik/images/foreca.png" alt="Foreca" width="50" height="12" /></span></a></li>
        </ul>
        <div class="copyRes">
            <span class="copyright">© 1998-2017 Нет Инфо АД.</span>
            <a href="http://www.netinfocompany.bg/privacy" target="_blank" class="allrightsres">Всички права запазени</a>
        </div>
    </div>
            <div class="footer_logos">
            <a href="http://www.netinfocompany.bg/" target="_blank"><img src="https://m.netinfo.bg/temp/new_logos_NetInfo_MTG/netinfo_logo_new_footer.png" class="netinfoLogo"></a>
            <a href="http://www.mtg.se/" target="_blank"><img src="https://m.netinfo.bg/temp/new_logos_NetInfo_MTG/MTG_logo_footer2.png" class="mtgLogo"></a>
            <br class="clear" />
        </div>
        
    
    <script src="//m.netinfo.bg/cookies/cookieAgree.js" type="text/javascript" charset="utf-8" async defer></script>
        <!-- Opoznai.bg -->
<script type="text/javascript">
  setTimeout(function(){
    var params = {
      city: "Sofia",    // Дестинация
      hometown: "0",  // 1|0 - дали потребителят е от този град или не
      count: "https://a.abv.bg/www/delivery/ck.php?oaparams=2__bannerid=176933__zoneid=63__oadest="   // Брояч за кликове, евентуално
    };
    var src = "https://b.grabo.bg/netinfo/special/sinoptik_640x85.php?affid=20493";
    for(var p in params) {
      src += "&"+p+"="+encodeURIComponent(params[p]);
    }
    var scr = document.createElement("SCRIPT");
    scr.type = "text/javascript";
    scr.src = src;
    scr.setAttribute("async",true);
    $(document.body).append(scr);
  },10);
</script>
</footer>
 
            <!---- FOOTER END ----->
        </div>
    <script>
        $(document).ready(function(){
            $('.mvr-messages span').on('click', function(){
                SetCookie($(this).attr('id'), true, 30, '/', '.sinoptik.bg');
                $(this).parents('li').hide();
            });
        });
    </script>
            <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-296562-8']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

                        <script type="text/javascript">
                    <!--//--><![CDATA[//><!--
                var pp_gemius_identifier = 'nS.q9nbdP80IcbJ03YM1.vU271vFNGbtg5vefZE8mLb.k7';
                    // lines below shouldn't be edited
                    function gemius_pending(i) {
                        window[i] = window[i] || function () {
                            var x = window[i + '_pdata'] = window[i + '_pdata'] || [];
                            x[x.length] = arguments;
                        };
                    }
                    ;
                    gemius_pending('gemius_hit');
                    gemius_pending('gemius_event');
                    gemius_pending('pp_gemius_hit');
                    gemius_pending('pp_gemius_event');
                    (function (d, t) {
                        try {
                            var gt = d.createElement(t), s = d.getElementsByTagName(t)[0], l = 'http' + ((location.protocol == 'https:') ? 's' : '');
                            gt.setAttribute('async', 'async');
                            gt.setAttribute('defer', 'defer');
                            gt.src = l + '://gabg.hit.gemius.pl/xgemius.js';
                            s.parentNode.insertBefore(gt, s);
                        } catch (e) {
                        }
                    })(document, 'script');
                    //--><!]]>
                </script>
            
            </body>
</html>
