<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Bolt</h3>
            <ul>
              <li><%= link_to "Help", help_path %></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>More</h3>
            <ul>
              <li><a href="http://www.datecs.bg/"> Datecs</a></li></a>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>News</h3>
            <ul>
              <li><a href="https://www.youtube.com/">YouTube</a></li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </div>

              